.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #1b1b1b;
    width: 100%;
    padding: 15px;
    
}
.navbar a{
    text-decoration: none;
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}
.seeCarrito{
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}
.color-title{
    color: #318cae;
  }
  .navbar h1{
    color: #fff;
    font-size: 25px;
  }